@model AccountLoginViewModel

@{

    ViewBag.Title = "ReservationSYS  | Login";

}



<div class="col-12 my-2 text-left">
    <h2 >Login Portal</h2>
    <hr  />
</div>
<form class="mx-lg-auto my-5 w-50" asp-action="ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post">
    <div>
        <button type="submit" class="btn text-danger w-75"
                style="border-color:#1B098A"
                name="provider" value="Google"
                title="Login using your Google account">
            Google Account
        </button><br /><br />
        <p>You don't have a Google account? <a href="https://accounts.google.com/signup/v2/webcreateaccount?service=mail&continue=https%3A%2F%2Fmail.google.com%2Fmail%2F%3Fpc%3Dtopnav-about-n-en&flowName=GlifWebSignIn&flowEntry=SignUp">Create Account.</a></p>


    </div>
    <div hidden>
        <button type="submit" class="btn btn-light  bg-primary text-white w-75"
                name="provider" value="Facebook"
                title="Login using your Facebook account">
            FACEBOOK
        </button><br /><br />
    </div>

</form>

        


        @*@{
                <form class="mx-lg-auto w-50 m-auto" asp-action="ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                    <div>
                        @foreach (var provider in Model.ExternalLogins)
                        {
                            <button type="submit" class="btn btn-primary w-100"
                                    name="provider" value="@provider.Name"
                                    title="Login using your @provider.DisplayName account">
                                @provider.DisplayName
                            </button><br /><br />
                        }
                    </div>
                </form>
            }*@


        

    



