@inject UserManager<AppUser> userManager
@inject SignInManager<AppUser> signInManager



<!DOCTYPE html>
   <html >
        <head>
            <title>@ViewBag.Title</title>
            <!-- CSS only -->
            <environment include="Development">
                <link href="~/css/style.css" rel="stylesheet" />
                <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
                <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
                <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
                <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
                <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>

                @*<link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet" />
                    <script src="~/lib/jquery/jquery.js"></script>
                    <script href="~/lib/bootstrap/js/bootstrap.js" rel="stylesheet"></script>*@

                @*Datatable*@
                <link href="~/lib/datatables/css/jquery.dataTables.css" rel="stylesheet" />
                <script src="~/lib/datatables/js/jquery.dataTables.js"></script>

            </environment>
            <environment exclude="Development">
                <link rel="stylesheet"
                      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
                      integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
                      crossorigin="anonymous"
                      asp-fallback-href="~/lib/bootstrap/css/bootstrap.min.css"
                      asp-fallback-test-class="sr-only"
                      asp-fallback-test-property="position"
                      asp-fallback-test-value="absolute"
                      asp-suppress-fallback-integrity="true">


                <script src="~/lib/jquery/jquery.min.js"></script>
                <script src="~/lib/jquery-validate/jquery.validate.min.js"></script>
                <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>


            </environment>
            
        </head>
        <body class="row" style="min-height:754px;color:#1B098A;width:100%">
            @*Menu*@
            <ul class="nav flex-column col-md-2 text-white " style="padding:10px;background-color:#44426B">
                <li class="nav-item">
                    <a class="nav-link text-white font-weight-bolder " href="#">RESERVATION SYSTEM</a>
                    <br />
                    <br />
                </li>
                @if (signInManager.IsSignedIn(User))
                {
                    AppUser user = await userManager.FindByEmailAsync(User.Identity.Name);


                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button">Manage Account</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" asp-route-id="@user.Id" asp-action="EditAccount" asp-controller="Account">Edit Account</a>
                            <div>
                                <ul class="navbar nav">
                                    <li class="nav-item ">
                                        <form asp-action="Logout" asp-controller="Account" method="post">
                                            <button type="submit" class="btn btn-primary text-white" style="width:10em">
                                                Logout
                                            </button>
                                        </form>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <hr />
                    </li>

                }
                @if (signInManager.IsSignedIn(User) && User.IsInRole("Admin"))
                {


                    <li class="nav-item">
                        <a class="nav-link" asp-action="Index" asp-controller="Reservation">Manage Reservations</a>
                        <hr />
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button">Manage Types</a>
                        <hr />
                        <div class="dropdown-menu">
                            <a class="dropdown-item" asp-action="Index" asp-controller="ReservationType">Types</a>
                            <a class="dropdown-item" asp-action="Create" asp-controller="ReservationType">New Type</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button">Manage Users</a>
                        <hr />
                        <div class="dropdown-menu">
                            <a class="dropdown-item" asp-action="Index" asp-controller="Role">Roles</a>
                            <a class="dropdown-item" asp-action="Index" asp-controller="Account">Users</a>
                        </div>
                    </li>

                }
                @if (signInManager.IsSignedIn(User) && User.IsInRole("Student"))
                {

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button">Manage Reservations</a>
                        <hr />
                        <div class="dropdown-menu">
                            <a class="dropdown-item" asp-action="Index" asp-controller="Reservation">Reservations</a>
                            <a class="dropdown-item" asp-action="Create" asp-controller="Reservation">New Reservation</a>
                        </div>
                    </li>
                }
            </ul>
            @*Contenu*@

            <div class="col-md-10 ">
                <div class="row" id="bg" style="margin-right:-30px" ></div>
                <section class="row container m-auto">
                    @RenderBody()
                </section>

            </div>

            @RenderSection(name: "DTListUsers", required: false)
            @RenderSection(name: "DTListRoles", required: false)
            @RenderSection(name: "DTListTypes", required: false)
            @RenderSection(name: "DTListReservations", required: false)
        </body>
    </html>
