@model IEnumerable<Reservation>


@{
    int counter = 1;
    ViewBag.Title = "ReservationSYS  | Reservations";
}

<div class="my-2 text-left col-12">
    <h2> List of Reservations </h2>
    <hr />
</div>

<div class="mx-lg-auto my-2 col-12 ">
    <table id="ReservationssTable" class="table table-hover text-center">
        <thead class="text-white" style="background-color:#44426B">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Reserved Day</th>
                <th scope="col">Type</th>

                @if (User.IsInRole("Admin"))
                {
                    <th scope="col">Student</th>
                    <th scope="col">NRA</th>
                }

                <th scope="col">Status</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (var reservation in Model)
                {
                        <tr>
                            <td>@counter</td>
                            <td>@reservation.Date_R.ToShortDateString()</td>
                            <td>@reservation.Type.Name</td>

                            @if (User.IsInRole("Admin"))
                            {
                                <td>@reservation.User.UserName</td>
                                <td>@reservation.User.NRA</td>
                            }

                            @if (reservation.Status == Status.InProgress)
                            {
                                <td class="text-primary">@reservation.Status</td>
                            }
                            @if (reservation.Status == Status.Rejected)
                            {
                                <td class="text-danger">@reservation.Status</td>
                            }
                            @if (reservation.Status == Status.Accepted)
                            {
                                <td class="text-success">@reservation.Status</td>
                            }



                            @if (reservation.Status == Status.InProgress || User.IsInRole("Admin"))
                            {
                                <td>

                                    <form method="post" asp-action="Delete" asp-controller="Reservation" asp-route-id="@reservation.Id">
                                        <a class="btn btn-primary text-white btn-sm" asp-action="Edit" asp-controller="Reservation" asp-route-id="@reservation.Id">Update</a>
                                        <button type="submit" class="btn btn-dark btn-sm" onclick="return confirm('Are you sure to Delete ??')">Delete</button>
                                    </form>


                                </td>
                            }
                            else
                            {
                                <td>

                                    _


                                </td>
                            }

                        </tr>
                    counter++;

                }
            }


        </tbody>
    </table>
</div>


@if (User.IsInRole("Student"))
{
    <div class="my-5 text-center">
        <a asp-action="Create">New Reservation</a> |
        <a asp-controller="Account" asp-action="login">Back To Home</a>
    </div>
}
else
{
    <div class="my-5 text-center">
        <a asp-controller="Account" asp-action="login">Back To Home</a>
    </div>
}




@section DTListReservations{
    <script>
        $(document).ready(function () {
            $('#ReservationssTable').dataTable();
        });


    </script>

}